<%- include ('partials/header.ejs') %>

<body>
  
  <%- include ('partials/navbar.ejs') %>

    <div class="jumbotron mt-5" style="text-align: center;">
      <h1 class="header">About Me</h1>

      <img src="/img/my.jpg" alt="images" class="images" width="200" height="250">


      <div style="padding: 50px">
        <h1>My name is Nimesha Mathale Ralalage</h1>
        <p>I am fascinated by the dynamic world of technology and how it is always changing. Ultimately, I want to have
          a
          positive impact on the software development industry by coming up with solutions that simplify and improve
          people's lives. In my professional life, I am committed to lifelong learning and keeping up with market
          trends. It
          is my goal to have a positive influence on the world.</p>


        <a href="https://drive.google.com/file/d/1ISJGpavU4CZzGIWxB_C4ojnTr4NKbWVP/view" target="_blank">
          <button class="btn btn-success">Get Resume</button>
        </a>
      </div>

      <%- include ('partials/footer.ejs') %>