<%- include ('partials/header.ejs') %><!-- Include the header partial -->


<body>
  
  <%- include ('partials/navbar.ejs') %><!-- Include the navbar partial -->

    <div class="jumbotron mt-5" style="text-align: center;">
      <h1 class="header">About Me</h1>

      <img src="/img/my.jpg" alt="images" class="images" width="200" height="250"><!-- Display the image with alt text -->


      <div style="padding: 50px">
        <h1>My name is Nimesha Mathale Ralalage</h1><!-- Provide information about myself -->
        <p>I am fascinated by the dynamic world of technology and how it is always changing. Ultimately, I want to have
          a
          positive impact on the software development industry by coming up with solutions that simplify and improve
          people's lives. In my professional life, I am committed to lifelong learning and keeping up with market
          trends. It
          is my goal to have a positive influence on the world.</p>


        <a href="https://drive.google.com/file/d/1ISJGpavU4CZzGIWxB_C4ojnTr4NKbWVP/view" target="_blank"><!-- Link to the resume with a button -->
        </a>
          <button class="btn btn-success">Get Resume</button>
        </a>
      </div>

      <%- include ('partials/footer.ejs') %><!-- Include the footer partial -->