<%- include ('partials/header.ejs') %><!-- Include the header partial -->

  <body>

    <%- include ('partials/navbar.ejs') %><!-- Include the navbar partial -->

      <div class="jumbotron mt-5" style="padding-left: 50px; padding-right: 50px;">
        <h1 class="header" style="text-align: center;">Projects</h1><!-- Display the heading for the Projects page -->

        <h4 style="color:rgb(62, 155, 67);">Hospital Management System</h4>
        <br>
        <p> Improved patient care by implementing a comprehensive hospital management system using Java and MySQL. As
          part
          of the package, medical records were managed, patients were enrolled, appointments were scheduled, invoices
          and
          bills were generated, and inventory was controlled. The hospital increased operational effectiveness,
          decreased
          paperwork, and enhanced patient care by deploying this technology.</p>
        <br>
        <h4 style="color:rgb(62, 155, 67);">Helpdesk Support System Implementation</h4>
        <br>
        <p>The Helpdesk Support System was implemented to enhance business efficiency and to help users quickly. By
          integrating internal and external stakeholders, this system enabled effective problem-solving and reduced
          downtime. Besides providing application support services, the system resolved technical problems for users and
          customers. The helpdesk support system improved customer satisfaction, enhanced efficiency, and streamlined
          business operations.</p>
        <br>
        <h4 style="color:rgb(62, 155, 67);">Task Manager Mobile App</h4>
        <br>
        <p>The Task Manager mobile app allows users to create, arrange, and monitor their tasks and to-do lists, with
          features such as prioritization, due date reminders, task classifications, and progress monitoring. Its user
          interface is clear and easy, allowing users to stay organized and work more efficiently.</p>

      </div>


      <%- include ('partials/footer.ejs') %><!-- Include the footer partial -->