<%- include ('partials/header.ejs') %>

  <body>

    <%- include ('partials/navbar.ejs') %>

      <div class="jumbotron mt-5" style="padding-right: 50px; padding-left: 50px;">

        <h1 class="header" style="text-align: center;">Services</h1>

        <h5 style="color:rgb(62, 155, 67);">Web Development</h5>
        <br>
        <p>Web development is one of the services I provide to help you build a successful online presence.<br>
          Create powerful web applications and visually stunning and user-friendly websites using the latest
          technology
          and industry best practices.</p>
        <br>
        <h5 style="color:rgb(62, 155, 67);">Mobile App Development</h5>
        <br>
        <p>With the help of my mobile app development services, the mobile market's potential may be realised. I can
          transform your idea into a completely working and user-friendly mobile application, whether you require an
          iOS
          or Android app. I guarantee flawless performance and a simple user interface from design to development.</p>
        <br>
        <h5 style="color:rgb(62, 155, 67);">E-commerce Solutions</h5>
        <br>
        <p>My e-commerce solutions can assist you if you want to launch an online business. I provide reliable and
          secure
          e-commerce systems that let you advertise your goods and give customers a smooth buying experience. I
          guarantee
          a hassle-free online shopping experience, from product administration to secure payment methods.</p>


      </div>




      <%- include ('partials/footer.ejs') %>